<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<!--====================  footer area ====================-->
<hr />
<div class="footer-area-wrapper">
    <div class="footer-area section-space--ptb_120">
        <div class="container">
            <div class="row footer-widget-wrapper">
                <div class="col-lg-4 col-md-4 col-sm-6 footer-widget">
                    <h6 class="footer-widget__title mb-20">آدرس</h6>
                    <ul class="footer-widget__list">
                        <li>
                            <i class="icon_pin"></i>تهران، میدان فردوسی، بلوار فردوسی، فروشگاه هلندو
                        </li>
                        <li>
                            <i class="icon_phone"></i><a href="tel:846677028028" class="hover-style-link">021 0000 0000</a>
                        </li>
                    </ul>
                    <ul class="list footer-social-networks mt-25">
                        <li class="item">
                            <a href="https://twitter.com/" target="_blank" aria-label="Twitter"> <i class="social social_facebook"></i> </a>
                        </li>
                        <li class="item">
                            <a href="https://facebook.com/" target="_blank" aria-label="Facebook"> <i class="social social_twitter"></i> </a>
                        </li>
                        <li class="item">
                            <a href="https://instagram.com/" target="_blank" aria-label="Instagram"> <i class="social social_tumblr"></i> </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 footer-widget">
                    <h6 class="footer-widget__title mb-20">کمک و اطلاعات</h6>
                    <ul class="footer-widget__list">
                        <li>
                            <a href="#" class="hover-style-link">کمک و ارتباط با ما</a>
                        </li>
                        <li>
                            <a href="#" class="hover-style-link">بازپرداخت</a>
                        </li>
                        <li>
                            <a href="#" class="hover-style-link">فروشگاه های آنلاین</a>
                        </li>
                        <li>
                            <a href="#" class="hover-style-link">شرایط و ضوابط</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 footer-widget">
                    <h6 class="footer-widget__title mb-20">درباره ما</h6>
                    <ul class="footer-widget__list">
                        <li>
                            <a href="#" class="hover-style-link">درباره ما</a>
                        </li>
                        <li>
                            <a href="#" class="hover-style-link">خدمات ما</a>
                        </li>
                        <li>
                            <a href="#" class="hover-style-link">سوالات متداول</a>
                        </li>
                        <li>
                            <a href="#" class="hover-style-link">ارتباط با ما</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 footer-widget">
                    <h6 class="footer-widget__title mb-20">دریافت خبرنامه</h6>
                    <div class="footer-widget__newsletter mt-30">
                        <input type="text" placeholder="آدرس ایمیل شما" />
                        <button class="submit-button">
                            <i class="icon-arrow-right"></i>
                        </button>
                    </div>
                    <ul class="footer-widget__footer-menu  section-space--mt_60 d-none d-lg-block">
                        <li>
                            <a href="#">شرایط</a>
                        </li>
                        <li>
                            <a href="#">خط مشی</a>
                        </li>
                        <li>
                            <a href="#">نقشه</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  End of footer area  ====================-->