@{
    ViewData["Title"] = "Error";
    Layout = "~/Areas/Main/Views/Shared/_Layout.cshtml";
}
<body class="">
    <div id="main-wrapper">
        <div class="site-wrapper-reveal border-bottom">
            <div class="error-page-area section-space--ptb_90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 m-auto">
                            <div class="error-page-content text-center section-space--ptb_90">
                                <i class="icon icon-confused"></i>
                                <h1 class="mb-20">اوه! صفحه مورد نظر پیدا نشد.</h1>
                                <p class="description">ما نتوانستیم صفحه مورد نظر شما را پیدا کنیم. به <a href="index.html">صفحه اصلی</a> بروید.</p>
                                <div class="search-page-box mt-40">
                                    <form action="#" class="pages-search">
                                        <input class="input-box" type="text" placeholder="جستجو" />
                                        <button class="submit-btn">
                                            <i class="icon-magnifier"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>